.limiter{
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    background-image: url(../others/images/ahoy.jpg);
    height: 100%;
}

.tableService {
    background-color: #c7c27d;
    position: relative;
    left: 17.5%;
    right: -17.5%;
    width: 65%;
}

table {
    width: 100%;
}