* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

.limiter{
    position: relative;
    top: 25px;
    min-height: 100%;
}
body{
    background-image: url(../others/images/ahoy.jpg);
    height: 100%;
}

.description{

}

.masters{


}